* {
    overflow: hidden;
}

.bg-nav {
    padding-top: 0.1em !important;
    background-color: rgba(51,0,102,0.8);
}

.nav-link {
    padding-top: 0.8em !important;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2em !important;
    font-family: 'Baloo', cursive;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.brand-logo {
    transform: rotate(-20deg);
    position: relative;
    top: 4px;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.landing-backdrop {
    position: relative;
    background: url("https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/surprises_about_dogs_and_cats_slideshow/1800x1200_surprises_about_dogs_and_cats_slideshow.jpg") no-repeat 50%/cover;
    min-height: 100vh;
}

.dark-overlay {
    background: black;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.container {
    padding-top: 15vh;
}

.container-gutters {
    max-width: 70%;
    margin: auto;
}

.display-3 {
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}
