.nav-link {
    font-family: "Trebuchet MS";
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2em !important;
    font-family: 'Baloo', cursive;
}

.brand-logo {
    transform: rotate(-20deg);
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}
